<div class="about">
  <div class="about-body">
    <div class="about__column">
      <div class="about__img">
        <img src="img/about-us/01.png" alt="">
      </div>
    </div>
    <div class="about__column">
      <div class="about__title">About Us</div>
      <div class="about__text">Lorem ipsum dolor sit amet, con- sectetur adipiscing elit, sed do ei-usmod tempor incididunt ut <br> labore et dolore magna aliqua . Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
    </div>
  </div>
  <div class="about-plate">
    <img src="img/about-us/02.png" />
  </div>
</div>
