<div class="contact">
  <div class="contact__column">
    <div class="contact__img">
      <img src="img/contact-us/01.png" alt="">
    </div>
  </div>
  <div class="contact__column">
    <div class="contact-body">
      <div class="contact__title">Contact Us For <br>Best Breakfasr</div>
      <div class="contact__text">Lorem ipsum dolor sit amet, consectetur ad- <br>ipiscing elit, sed do eiusmod tempor incidi- <br>dunt ut labore et dolore magna.</div>
      <a href="" class="contact__btn">Contact Us</a>
    </div>
  </div>
</div>
