<footer class="footer">
  <div class="footer-body">
    <div class="footer__row">
      <div class="footer__logo">
        <img src="img/footer_logo.png" alt="">
      </div>
    </div>
    <div class="footer__row">
      <div class="footer__link">Home</div>
      <div class="footer__link">About Us</div>
      <div class="footer__link">Services</div>
      <div class="footer__link">Foods</div>
      <div class="footer__link">COntact</div>
      <div class="footer__link">Location</div>
    </div>
    <div class="footer__row">
      <div class="footer__icon"><img src="img/icons/social/01.png" alt=""></div>
      <div class="footer__icon"><img src="img/icons/social/02.png" alt=""></div>
      <div class="footer__icon"><img src="img/icons/social/03.png" alt=""></div>
      <div class="footer__icon"><img src="img/icons/social/04.png" alt=""></div>
    </div>
  </div>
</footer>
