<div class="menu">
  <div class="menu-body">
    <div class="menu__title">Our Menu</div>
    <div class="menu__wrapper">
      <div class="menu-item">
        <div class="menu-item__img">
          <img src="img/menu/01.png" alt="">
        </div>
        <div class="menu-item__title">ITALIAN SOURCE MUSHROOM</div>
        <div class="menu-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</div>
        <div class="menu-item__price">Price: $12.00</div>
      </div>
      <div class="menu-item">
        <div class="menu-item__img">
          <img src="img/menu/01.png" alt="">
        </div>
        <div class="menu-item__title">ITALIAN SOURCE MUSHROOM</div>
        <div class="menu-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</div>
        <div class="menu-item__price">Price: $12.00</div>
      </div>
      <div class="menu-item">
        <div class="menu-item__img">
          <img src="img/menu/01.png" alt="">
        </div>
        <div class="menu-item__title">ITALIAN SOURCE MUSHROOM</div>
        <div class="menu-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</div>
        <div class="menu-item__price">Price: $12.00</div>
      </div>
    </div>
  </div>
</div>
