<div class="quality">
  <div class="quality-body">
    <div class="quality__title">Our Food Quality</div>
    <div class="quality__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
  </div>
  <div class="quality__img1">
    <img src="img/quality/02.png" alt="">
  </div>
  <div class="quality__img2">
    <img src="img/quality/03.png" alt="">
  </div>
</div>
