.contact {
  display: flex;
  padding: 92px 0px 0px 47px;

  &__column {
    flex: 0 0 50%;
  }
  &-body {
  }
  &__title {
    color: #e58f00;
    font-size: 67px;
    letter-spacing: 0.67px;
    margin: 0px 0px 40px 0px;
  }
  &__text {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0.25px;
    margin: 0px 0px 31px 0px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #28282d;
    font-size: 25px;
    width: 200px;
    letter-spacing: 0.25px;
    height: 70px;
    border-radius: 5px;
    background-color: #e58f00;
  }
}
