@mixin font($file_name, $font_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@include font("aachen_bt", "ABT", "400", "normal");
